/EXE.Epaas.Signature.Examples/bin/Debug/net8.0/EXE.Epaas.Signature.Examples.deps.json
/EXE.Epaas.Signature.Examples/bin/Debug/net8.0/EXE.Epaas.Signature.Examples.dll
/EXE.Epaas.Signature.Examples/bin/Debug/net8.0/EXE.Epaas.Signature.Examples.exe
/EXE.Epaas.Signature.Examples/bin/Debug/net8.0/EXE.Epaas.Signature.Examples.pdb
/EXE.Epaas.Signature.Examples/bin/Debug/net8.0/EXE.Epaas.Signature.Examples.runtimeconfig.json
/EXE.Epaas.Signature.Examples/bin/Debug/net8.0/EXE.Epaas.Signature.Examples.staticwebassets.endpoints.json
/EXE.Epaas.Signature.Examples/bin/Debug/net8.0/EXE.Epaas.Signature.dll
/EXE.Epaas.Signature.Examples/bin/Debug/net8.0/EXE.Epaas.Signature.pdb
/EXE.Epaas.Signature.Examples/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
/EXE.Epaas.Signature.Examples/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/EXE.Epaas.Signature.Examples/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/EXE.Epaas.Signature.Examples/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/EXE.Epaas.Signature.Examples/bin/Debug/net8.0/Microsoft.OpenApi.dll
/EXE.Epaas.Signature.Examples/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/EXE.Epaas.Signature.Examples/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/EXE.Epaas.Signature.Examples/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/EXE.Epaas.Signature.Examples/bin/Debug/net8.0/appsettings.json
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/ApiEndpoints.json
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/EXE.Epaa.62912229.Up2Date
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/EXE.Epaas.Signature.Examples.AssemblyInfo.cs
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/EXE.Epaas.Signature.Examples.AssemblyInfoInputs.cache
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/EXE.Epaas.Signature.Examples.GeneratedMSBuildEditorConfig.editorconfig
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/EXE.Epaas.Signature.Examples.GlobalUsings.g.cs
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/EXE.Epaas.Signature.Examples.MvcApplicationPartsAssemblyInfo.cache
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/EXE.Epaas.Signature.Examples.MvcApplicationPartsAssemblyInfo.cs
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/EXE.Epaas.Signature.Examples.assets.cache
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/EXE.Epaas.Signature.Examples.csproj.AssemblyReference.cache
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/EXE.Epaas.Signature.Examples.csproj.BuildWithSkipAnalyzers
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/EXE.Epaas.Signature.Examples.csproj.CoreCompileInputs.cache
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/EXE.Epaas.Signature.Examples.csproj.FileListAbsolute.txt
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/EXE.Epaas.Signature.Examples.dll
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/EXE.Epaas.Signature.Examples.genruntimeconfig.cache
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/EXE.Epaas.Signature.Examples.pdb
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/EndpointInfo/EXE.Epaas.Signature.Examples.OpenApiFiles.cache
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/EndpointInfo/EXE.Epaas.Signature.Examples.json
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/apphost.exe
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/rbcswa.dswa.cache.json
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/ref/EXE.Epaas.Signature.Examples.dll
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/refint/EXE.Epaas.Signature.Examples.dll
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/rpswa.dswa.cache.json
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/staticwebassets.build.json
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/staticwebassets.build.json.cache
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/EXE.Epaas.Signature.Examples/obj/Debug/net8.0/staticwebassets.removed.txt
/EXE.Epaas.Signature.Examples/obj/EXE.Epaas.Signature.Examples.csproj.nuget.dgspec.json
/EXE.Epaas.Signature.Examples/obj/EXE.Epaas.Signature.Examples.csproj.nuget.g.props
/EXE.Epaas.Signature.Examples/obj/EXE.Epaas.Signature.Examples.csproj.nuget.g.targets
/EXE.Epaas.Signature.Examples/obj/project.assets.json
/EXE.Epaas.Signature.Examples/obj/project.nuget.cache
/EXE.Epaas.Signature/.vs/EXE.Epaas.Signature/CopilotIndices/17.14.734.62261/CodeChunks.db
/EXE.Epaas.Signature/.vs/EXE.Epaas.Signature/CopilotIndices/17.14.734.62261/SemanticSymbols.db
/EXE.Epaas.Signature/.vs/EXE.Epaas.Signature/DesignTimeBuild/.dtbcache.v2
/EXE.Epaas.Signature/.vs/EXE.Epaas.Signature/FileContentIndex/1b4d5ab5-ae93-4177-9070-4c5c6249d234.vsidx
/EXE.Epaas.Signature/.vs/EXE.Epaas.Signature/FileContentIndex/844680ef-6de4-40c8-b2b3-5cf131255c65.vsidx
/EXE.Epaas.Signature/.vs/EXE.Epaas.Signature/FileContentIndex/904d0cdb-421b-48ec-b8d7-93155da4b854.vsidx
/EXE.Epaas.Signature/.vs/EXE.Epaas.Signature/FileContentIndex/907ac0e0-a917-41eb-8815-1aa7039bc0aa.vsidx
/EXE.Epaas.Signature/.vs/EXE.Epaas.Signature/FileContentIndex/b83daf1a-847a-4302-9cd6-f55af67aa7d8.vsidx
/EXE.Epaas.Signature/.vs/EXE.Epaas.Signature/config/applicationhost.config
/EXE.Epaas.Signature/.vs/EXE.Epaas.Signature/v17/.futdcache.v2
/EXE.Epaas.Signature/.vs/EXE.Epaas.Signature/v17/.suo
/EXE.Epaas.Signature/.vs/EXE.Epaas.Signature/v17/DocumentLayout.backup.json
/EXE.Epaas.Signature/.vs/EXE.Epaas.Signature/v17/DocumentLayout.json
/EXE.Epaas.Signature/.vs/ProjectEvaluation/exe.epaas.signature.metadata.v9.bin
/EXE.Epaas.Signature/.vs/ProjectEvaluation/exe.epaas.signature.projects.v9.bin
/EXE.Epaas.Signature/.vs/ProjectEvaluation/exe.epaas.signature.strings.v9.bin
/EXE.Epaas.Signature/bin/Debug/netstandard2.1/EXE.Epaas.Signature.deps.json
/EXE.Epaas.Signature/bin/Debug/netstandard2.1/EXE.Epaas.Signature.dll
/EXE.Epaas.Signature/bin/Debug/netstandard2.1/EXE.Epaas.Signature.pdb
/EXE.Epaas.Signature/bin/Release/EXE.Epaas.Signature.1.0.0.nupkg
/EXE.Epaas.Signature/bin/Release/netstandard2.1/EXE.Epaas.Signature.deps.json
/EXE.Epaas.Signature/bin/Release/netstandard2.1/EXE.Epaas.Signature.dll
/EXE.Epaas.Signature/bin/Release/netstandard2.1/EXE.Epaas.Signature.pdb
/EXE.Epaas.Signature/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
/EXE.Epaas.Signature/obj/Debug/netstandard2.1/EXE.Epaas.Signature.AssemblyInfo.cs
/EXE.Epaas.Signature/obj/Debug/netstandard2.1/EXE.Epaas.Signature.AssemblyInfoInputs.cache
/EXE.Epaas.Signature/obj/Debug/netstandard2.1/EXE.Epaas.Signature.GeneratedMSBuildEditorConfig.editorconfig
/EXE.Epaas.Signature/obj/Debug/netstandard2.1/EXE.Epaas.Signature.assets.cache
/EXE.Epaas.Signature/obj/Debug/netstandard2.1/EXE.Epaas.Signature.csproj.AssemblyReference.cache
/EXE.Epaas.Signature/obj/Debug/netstandard2.1/EXE.Epaas.Signature.csproj.BuildWithSkipAnalyzers
/EXE.Epaas.Signature/obj/Debug/netstandard2.1/EXE.Epaas.Signature.csproj.CoreCompileInputs.cache
/EXE.Epaas.Signature/obj/Debug/netstandard2.1/EXE.Epaas.Signature.csproj.FileListAbsolute.txt
/EXE.Epaas.Signature/obj/Debug/netstandard2.1/EXE.Epaas.Signature.dll
/EXE.Epaas.Signature/obj/Debug/netstandard2.1/EXE.Epaas.Signature.pdb
/EXE.Epaas.Signature/obj/EXE.Epaas.Signature.csproj.nuget.dgspec.json
/EXE.Epaas.Signature/obj/EXE.Epaas.Signature.csproj.nuget.g.props
/EXE.Epaas.Signature/obj/EXE.Epaas.Signature.csproj.nuget.g.targets
/EXE.Epaas.Signature/obj/Release/EXE.Epaas.Signature.1.0.0.nuspec
/EXE.Epaas.Signature/obj/Release/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
/EXE.Epaas.Signature/obj/Release/netstandard2.1/EXE.Epaas.Signature.AssemblyInfo.cs
/EXE.Epaas.Signature/obj/Release/netstandard2.1/EXE.Epaas.Signature.AssemblyInfoInputs.cache
/EXE.Epaas.Signature/obj/Release/netstandard2.1/EXE.Epaas.Signature.GeneratedMSBuildEditorConfig.editorconfig
/EXE.Epaas.Signature/obj/Release/netstandard2.1/EXE.Epaas.Signature.assets.cache
/EXE.Epaas.Signature/obj/Release/netstandard2.1/EXE.Epaas.Signature.csproj.AssemblyReference.cache
/EXE.Epaas.Signature/obj/Release/netstandard2.1/EXE.Epaas.Signature.csproj.CoreCompileInputs.cache
/EXE.Epaas.Signature/obj/Release/netstandard2.1/EXE.Epaas.Signature.csproj.FileListAbsolute.txt
/EXE.Epaas.Signature/obj/Release/netstandard2.1/EXE.Epaas.Signature.dll
/EXE.Epaas.Signature/obj/Release/netstandard2.1/EXE.Epaas.Signature.pdb
/EXE.Epaas.Signature/obj/project.assets.json
/EXE.Epaas.Signature/obj/project.nuget.cache
